:root {
    --bg-color: #ffffff;
    --primary-color: #212121;
    --secondary-color: #757575;
    --logo-color-black: #000000;
    --black-color-light: rgba(255, 255, 255, 0.6);
    --white-color: #ffffff;
    --accent-color: #2196f3;
    --bg-light-color: #f5f4fa;
    --bg-accent-color: #2196f3;
    --bg-dark-color: #2f303a;
    --bg-hero-color: #c4c4c4;
    --border-header-color: #ececec;
    --border-color: #eee;
    --icon-color-defoult: #afb1b8;
    --bg-footer-icon-color: rgba(255, 255, 255, 0.1);
    --overlay-benefits-color: rgba(33, 150, 243, 0.9);
    --border-modal-color: rgba(33, 33, 33, 0.2);
    --placeholder-color: rgba(117, 117, 117, 0.5);
    --btn-shadow-color: rgba(0, 0, 0, 0.15);
    --border-modal-color:rgba(0, 0, 0, 0.1);
    --bg-backdrop:rgba(0, 0, 0, 0.2);
  }
  