.header {
  position: relative;
}

.navygation {
  display: flex;
  align-items: center;
  width: 100%;
  z-index: 1;

  &__menu-button {
    display: inline-flex;
    padding: 0;
    margin: 0;
    border: none;
    background-color: transparent;
    margin-left: auto;
    z-index: 1;
  }

  &__menu-button:hover,
  &__menu-button:focus  &__icon-header-menu {
    fill: var(--accent-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__menu-button .navygation__icon-header-close {
    display: none;
  }

  &__menu-button.is-open .navygation__icon-header-close {
    display: block;
  }

  &__menu-button.is-open .navygation__icon-header-menu {
    display: none;
  }

  @media screen and (min-width: 768px) {
    &__menu-button {
      display: none;
    }
  }
}

.header-nav {
  &__list {
    margin-bottom: 306px;

    @media screen and (min-width: 768px) {
      margin-bottom: 0;
      display: flex;
    }
  }


  &__link {
    font-weight: 500;
    font-size: 40px;
    letter-spacing: 0.02em;
    color: var(--primary-color);

    @media screen and (min-width: 768px) {
      display: block;
      color: inherit;
      font-size: 14px;
      font-weight: 500;
      letter-spacing: 0.02em;

      padding-top: 32px;
      padding-bottom: 32px;
    }
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__item {
    @media screen and (max-width: 767px) {
      margin-bottom: 32px;
    }

    @media screen and (min-width: 768px) {
      margin-right: 50px;
    }
  }
  &__item:last-child {
    margin-right: 0;
  }

  &__link--current {
    display: block;
    position: relative;
    color: var(--accent-color);
  }

  &__link--current::after {
    @media screen and (min-width: 768px) {
      content: " ";
      position: absolute;
      left: 0;
      bottom: 0;
      display: block;
      width: 100%;
      height: 4px;
      border-radius: 2px;
      background-color: var(--accent-color);
    }
  }

  &__link:hover {
    color: var(--accent-color);
  }

  &__link:focus {
    color: var(--accent-color);
  }
}

.social-list {
  display: flex;
  margin-top: 64px;
  @media screen and (max-width:479px) {
    flex-wrap: wrap;
    margin-top: 50px;
  }
  

  &__link {
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    color: var(--accent-color);
  }
  &__separator {
    margin: 0 10px;
  }
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.menu-container {
  @media screen and (max-width: 767px) {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--bg-color);
    padding: 40px;
    &.is-open {
      display: block;
      overflow-y: scroll;
     } 
   }

  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: space-between;
    margin-left: 87px;
  }
  @media screen and (min-width: 768px) {
    margin-left: 93px;
  }
}
