.features {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }

  &__list {
    @media screen and (min-width:768px) {
      display: flex;
      flex-wrap: wrap;
        margin:-15px;
    }
  }

   &__item:not(:last-child) {
    @media screen and (max-width:767px) {
      margin-bottom: 30px;
    } 

  }
  &__item {
    @media screen and (min-width:768px) {
      width:calc((100% - 4*15px)/2);
      margin:15px;
    }

  @media screen and (min-width:1200px) {
    width: calc((100% - 8*15px)/4); 
  }
  }


  &__text {
    font-size: 14px;
    line-height: 1.71;
    color: var(--secondary-color);
    padding-top: 0;
    padding-bottom: 0;
    margin: 0;
 
  }

  &__img {
    display: flex;
    height: 120px;
    margin-bottom: 30px;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-light-color);
  }
}
