.work {
  margin: 0 auto;
  padding-bottom: 94px;
  
  @media screen and (max-width:1199px) {
    display: none;
    
  }
  
  &__list {
    display: flex;
  }

  &__item {
    margin-right: 30px;
  }
  &__item:last-child {
    margin-right: 0;
  }
  &__thumb {
    position: relative;
    display: flex;
    justify-content: center;
  }

  &__label {
    display: block;
    font-size: 14px;
    text-transform: uppercase;
    justify-content: center;
    text-align: center;
    color: var(--white-color);
    padding-bottom: 27px;
    position: absolute;
    bottom: 0;
  }

  &__thumb::before {
    content: "";
    display: flex;
    width: 100%;
    height: 70px;
    background: rgba(47, 48, 58, 0.8);
    position: absolute;
    left: 0;
    bottom: 0;
  }
}

